$headerHeight: 40px;

.header-container {
  height: $headerHeight;
  border-bottom: var( --border-in-light);

  .item {
    float: left;
    margin:  3px 10px;
  }

  .search-box {
    float: right;
    width: 200px;
    margin-right:  20px;
    margin-top: 5px;
  }
}