<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mist.cloud.infrastructure.dao.FileMapper">
    <resultMap id="fileMap" type="File">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="size" property="size"/>
        <result column="type" property="type"/>
        <result column="folder_id" property="folderId"/>
        <result column="create_time" property="createTime"/>
        <result column="deleted" property="deleted"/>
        <result column="deletede_time" property="deletedTime"/>
        <result column="duplicate_times" property="duplicateTimes"/>
        <result column="origin_name" property="originName"/>
        <result column="md5" property="md5"/>
    </resultMap>

    <insert id="insertFile" parameterType="File">
        INSERT INTO sys_file(id, name, size, type, folder_id, md5, origin_name, create_time)
        VALUES (#{id}, #{name}, #{size}, #{type}, #{folderId}, #{md5}, #{originName}, NOW())
    </insert>

    <update id="updateFileDuplicateTimes" parameterType="com.mist.cloud.domain.file.model.entity.FileSelectReq">
        UPDATE sys_file
        SET duplicate_times = duplicate_times + 1
        WHERE id = #{id}
          AND deleted = 0
    </update>

    <update id="renameFile" parameterType="com.mist.cloud.domain.file.model.entity.FileSelectReq">
        UPDATE sys_file
        SET name = #{fileName}
        WHERE id = #{id}
          AND deleted = 0
    </update>

    <update id="deleteFile">
        UPDATE sys_file
        SET deleted = 1
        WHERE id = #{id}
    </update>

    <update id="realDeleteFile">
        DELETE
        FROM sys_file
        WHERE id = #{id}
    </update>

    <update id="copyFile" parameterType="com.mist.cloud.domain.file.model.entity.FileCopyReq">
        INSERT INTO sys_file (id, name, size, type, folder_id, md5, origin_name)
        SELECT #{newFileId}, name, size, type, #{targetFolderId}, md5, origin_name
        FROM sys_file
        WHERE id = #{fileId} AND deleted = 0;
    </update>

    <select id="selectFileById" resultMap="fileMap">
        SELECT *
        FROM sys_file
        WHERE id = #{id}
          AND deleted = 0
    </select>


    <select id="selectFileByObj" parameterType="com.mist.cloud.domain.file.model.entity.FileSelectReq" resultMap="fileMap">
        SELECT *
        FROM sys_file
        <where>
            <if test="fileName != null">
                name = #{fileName}
            </if>
            <if test="folderId != null">
                AND folder_id = #{folderId}
            </if>
            <if test="id  != null">
                AND id = #{id}
            </if>
        </where>
        AND deleted = 0
    </select>

    <select id="selectFilesByFolderId" resultMap="fileMap">
        SELECT *
        FROM sys_file
        WHERE folder_id = #{folderId}
          AND deleted = 0
    </select>


</mapper>