@import "@/styles/global";
  .upload-list-button {
    width: 50px;
    height: 120px;
    position: fixed;
    bottom: 150px;
    right: -25px;
    transform: translateX(-50%);
    z-index: 9999;

    border: var(--border-in-light);
    border-right: 0;

    span {
      padding-top: 10px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      cursor: pointer;
      letter-spacing: 6px;
      font-size: 18px;
      line-height: 50px;
      @include menu-active;
    }
  }
ls