@import "@/styles/global";

$navbarHeight: 50px;
$logoSize: 40px;
$smallLogoSize: 30px;
$navbarFontSize: 25px;

@mixin navbar-item {
  font-size: $navbarFontSize;
  line-height: $navbarHeight;
  @include menu-active;
}

.container {

  width: 100vw;
  height: $navbarHeight;
  box-shadow: var(--box-gray-shadow);
  border-bottom: 1px solid rgba(0, 21, 41, 0.08);;
  display: inline-block;

  .logo {
    margin-left: 40px;
    height: $navbarHeight;
    width: 200px;
    float: left;

    .logo-icon {
      width: $logoSize;
      height: $logoSize;
      float: left;
      margin-top: 5px;
    }

    .logo-title {
      @include navbar-item;
      float: left;
      margin-left: 20px;
    }
  }


  .logo-link {
    width: $smallLogoSize;
    height: $smallLogoSize;
    float: right;
    margin: 10px 30px;
    cursor: pointer;
  }

  .drop-down {
    float: right;
    cursor: pointer;
  }
}



