.container {
  overflow-y: scroll;
  height: 100vh;

  .app {
    margin: 1vh auto;
    width: 1200px;
    min-height: 100vh;

    border: var(--border-in-light);
    box-shadow: var(--box-gray-shadow);
    border-radius: 5px;
  }

  .float-button {
    width: 50px;
    height: 100px;
  }
}